<div class="card" *ngIf="users">
  <div class="card-header"> Comptes</div>
  <div class="card-body">

    <table class="table">
      <thead>
      <tr>
        <th>Id</th>
        <th>Libelle</th>
        <th>Numero</th>
        <th>Solde</th>
        <th>Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let u of users ">
        <td>{{u.id}}</td>
        <td>{{u.username}}</td>
        <td>{{u.email}}</td>
        <td>{{u.email}}</td>
        <td>
          <button class="btn btn-sm btn-primary">Editer</button>
          <button class="btn btn-sm btn-danger">Supprimer</button>
        </td>

    </table>


  </div>
</div>
