<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 600px; background-image: url(assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-10 col-md-10">
        <h1 class="display-2 text-white">Bonjour Benali</h1>
        <p class="text-white mt-0 mb-5">Voici les détails de votre profil. Consultez ou modifier vos coordonnées!</p>
        <a href="#!" class="btn btn-info">Modifier le profile</a>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
      <div class="card card-profile shadow">
        <div class="row justify-content-center">
          <div class="col-lg-3 order-lg-2">
            <div class="card-profile-image">
              <a href="javascript:void(0)">
                <img src="assets/img/theme/team-4-800x800.jpg" class="rounded-circle">
              </a>
            </div>
          </div>
        </div>
        <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">

        </div>
        <div class="card-body pt-0 pt-md-4">
          <div class="row">
            <div class="col">
              <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                <div>
                  <span class="heading">12</span>
                  <span class="description">Elements</span>
                </div>
                <div>
                  <span class="heading">3</span>
                  <span class="description">Filières</span>
                </div>
              </div>
            </div>
          </div>
          <div class="text-center">
            <h3>
              Benali Khadija
            </h3>
            <div class="h5 font-weight-300">
              <i class="ni location_pin mr-2"></i>ENSET Mohammedia,UH2C
            </div>
            <div class="h5 mt-4">
              <i class="ni business_briefcase-24 mr-2"></i>Administrateur
            </div>
            <div>
              <i class="ni education_hat mr-2"></i>Département Mathématiques et Informatique
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-8 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h3 class="mb-0">Mon Compte</h3>
            </div>
            <div class="col-4 text-right">
              <a href="" class="btn btn-sm btn-primary">Enregistrer</a>
            </div>
          </div>
        </div>
        <div class="card-body">
          <form>
            <h6 class="heading-small text-muted mb-4">Informations génerales</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-username">Nom</label>
                    <input type="text" id="input-username" class="form-control form-control-alternative" placeholder="Username" value="Benali">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-email">Email</label>
                    <input type="email" id="input-email" class="form-control form-control-alternative" placeholder="benali@enset-media.ac.ma">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-first-name">Prénom</label>
                    <input type="text" id="input-first-name" class="form-control form-control-alternative" placeholder="Prénom" value="Khadija">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-last-name">Nom</label>
                    <input type="text" id="input-last-name" class="form-control form-control-alternative" placeholder="Nom" value="Benali">
                  </div>
                </div>
              </div>
            </div>
            <hr class="my-4" />
            <!-- Address -->
            <h6 class="heading-small text-muted mb-4">Coordonnées</h6>
            <div class="pl-lg-4">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label class="form-control-label" for="input-address">Adresse</label>
                    <input id="input-address" class="form-control form-control-alternative" placeholder="Home Address" value="Adresse 1" type="text">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-city">CINE</label>
                    <input type="text" id="input-city" class="form-control form-control-alternative" placeholder="CINE" value="EE908492">
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="form-control-label" for="input-country">Télephone</label>
                    <input type="text" id="input-country" class="form-control form-control-alternative" placeholder="Numéro de téléphone" value="0524360000">
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
